{
  "buildDir": "{{ build_dir }}",
  "editor": "",
  "editorflags": "",
  "makepkgbin": "makepkg",
  "pacmanbin": "pacman",
  "pacmanconf": "/etc/pacman.conf",
  "tarbin": "bsdtar",
  "redownload": "no",
  "rebuild": "no",
  "answerclean": "All",
  "answerdiff": "None",
  "answeredit": "None",
  "answerupgrade": "",
  "gitbin": "git",
  "gpgbin": "gpg",
  "gpgflags": "",
  "mflags": "",
  "sortby": "votes",
  "gitflags": "",
  "requestsplitn": 150,
  "sortmode": 0,
  "sudoloop": false,
  "timeupdate": false,
  "devel": false,
  "cleanAfter": false,
  "gitclone": true,
  "provides": true,
  "pgpfetch": true,
  "upgrademenu": true,
  "cleanmenu": false,
  "diffmenu": false,
  "editmenu": false
}
